import { defineConfig } from 'vite'
import react from '@vitejs/plugin-react'

export default defineConfig({
  plugins: [react()],

  resolve: {
    alias: {
      './api': '/src/api.js'
    }
  },

  server: {
    host: '127.0.0.1',
    port: 3000,

    proxy: {
      '/api': {
        target: 'http://127.0.0.1:8000',
        changeOrigin: true
      },

      '/notifications': {
        target: 'http://127.0.0.1:8000',
        changeOrigin: true
      },

      '/set-priority': {
        target: 'http://127.0.0.1:8000',
        changeOrigin: true
      },

      '/sync': {
        target: 'http://127.0.0.1:8000',
        changeOrigin: true
      },

      '/auth-status': {
        target: 'http://127.0.0.1:8000',
        changeOrigin: true
      }
    }
  }
})